@page "/guns"
@page "/guns/{SearchQuery}"
@inject HttpClient Http

@using System.Net

<PageTitle>Gungeon Guns</PageTitle>

<h1>Guns from Enter the Gungeon</h1>

<p>Displays all gun stats from Enter the Gungeon</p>
<Search />

@if (_guns == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="grid">
		@foreach (var gun in _guns) {
			<GunCard Gun="gun"></GunCard>
		}
    </div>
}

@code {
    private IEnumerable<Gun>? _guns;
    [Parameter]
    public string? SearchQuery { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var AllGuns = await Http.GetFromJsonAsync<Gun[]>("sample-data/guns_labelled5.json");
        if (SearchQuery == "" || SearchQuery == null) {
            _guns = AllGuns.AsEnumerable();
            return;
        }
        _guns = AllGuns!.Where(x => x.Name.Contains(SearchQuery, StringComparison.CurrentCultureIgnoreCase));
    }
}
