@page "/guns"
@inject HttpClient Http

@using System.Net

<PageTitle>Gungeon Guns</PageTitle>

<h1>Guns from Enter the Gungeon</h1>

<p>Displays all gun stats from Enter the Gungeon</p>
<Search />

@if (_guns == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="grid">
		@foreach (var gun in _guns) {
			<GunCard Gun="gun"></GunCard>
		}
    </div>
}

@code {
    private Gun[]? _guns;
    
    protected override async Task OnInitializedAsync()
    {
        _guns = await Http.GetFromJsonAsync<Gun[]>("sample-data/guns_labelled5.json");
    }
}

