<div class="card shadow bg-dark bg-opacity-25" style="width: 8rem">
    <div class="bg-black">
		<img src="@Link" class="card-img w-auto h-auto"/>
    </div>
    <div>
		<p class="card-title" style="font-size: 0.5rem;">@Name</p>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public string Name { get; set; } = default!;

    [Parameter, EditorRequired]
    public string Link { get; set; } = default!;
}

