<div class="card shadow bg-opacity-25 bg-dark border-4 p-3 m-1 d-inline-flex justify-content-center align-content-center text-center" style="max-width: 50%; image-rendering: pixelated">
    <div class="card-header">
		<h8 class="card-title h4">@Synergy.Name</h8>
    </div>
	<div class="card-body">
		@foreach (ItemGroup itemGroup in Synergy.ItemGroups!) {
			<MiniItemGroupCard ItemGroup="@itemGroup" /> 
		}
	</div>
    <div class="card-body">
		<span class="card-text d-inline-block" style="max-width: 50%">@Synergy.Description</span>
    </div>
    <div class="card-footer">
		<a class="card-link" href="#">Link</a><a class="card-link" href="#">Link</a>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Synergy Synergy { get; set; } = default!;
}

