<div class="card shadow bg-opacity-25 bg-dark border-1 p-0 m-1 d-inline-flex justify-content-center align-content-center text-center" style="image-rendering: pixelated">
    <div class="card-header p-0 m-0">
		<p class="card-title" style="font-size: 0.8rem;">@Synergy.Name</p>
    </div>
	<div class="card-body m-0 p-0">
		@foreach (ItemGroup itemGroup in Synergy.ItemGroups!) {
			<MiniItemGroupCard ItemGroup="@itemGroup" /> 
		}
		<p class="card-text d-inline-block" style="max-width: 16rem; font-size: 0.5rem">@Synergy.Description</p>
	</div>
</div>

@code {
    [Parameter, EditorRequired]
    public Synergy Synergy { get; set; } = default!;
}

